@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <div class="container">
        <div class="row justify-content-center">
            <example-component></example-component>
            <sub-folder-component></sub-folder-component>  
        </div>
    </div>
</div>
